<h1 style="text-align: center;">Success! You have added the following product!</h1>
<br>
  <img src="<%= @new_product.image %>" style="height:300px; width:400px; display:block; margin:auto;"> 
<h2 style="text-align: center;">Product: <%= @new_product.product_name %></h2>
<h3 style="text-align: center;">Price: $<%= @new_product.price %></h3>
<h3 style="text-align: center;">Description: <%= @new_product.desc %></h3>
