<h1 style="text-align: center;">Add A New Product</h1>

<%= form_tag "/products", method: :post do %>
  <div style="text-align:center">
    Name of Product:
    <input type="text" name="product_name">
  </div>
<br>
  <div style="text-align:center">
    Price(numbers and decimal only):
    <input type="float" name="price">
  </div>
<br>
  <div style="text-align:center">
    Description of Product:
    <input type="text" name="desc">
  </div>
<br>
  <div style="text-align:center">
    Link to Product Image:
    <input type="text" name="">
  </div>
<br>
  <div style="text-align:center">
    <input type="submit" value="Submit New Product" style="width:20em">
  </div>
<%end%>